<h2>Spots</h2>
<button class="btn btn-xs btn-fancy">{{#link-to 'new-photo'}}Add A Spot{{/link-to}}</button>
{{#each model as |spot|}}
  {{#link-to 'spot' spot}}
    <ul>{{spot.name}}</ul>
  {{/link-to}}
{{/each}}
