<!-- <h2>Spots</h2>
<button class="btn btn-xs btn-fancy">{{#link-to 'new-photo'}}Add A Spot{{/link-to}}</button>
{{#each model as |spot|}}
  {{#link-to 'spot' spot}}
    <ul>{{spot.name}}</ul>
  {{/link-to}}
{{/each}} -->


<h2>Spots</h2>

<ul>
{{#each model as |spot|}}
    <p>
    {{#link-to 'spot' spot}}
      {{spot.name}}
    {{/link-to}}
    </p>
{{/each}}
</ul>

<!-- <ul>
{{#each model as |spot|}}
  {{#each spot.uploads as |upload|}}
    <p>
      {{spot.name}}
      <img src={{upload.image_url}}>
    </p>
  {{/each}}
{{/each}}
</ul> -->
