<!-- <p>
  {{#link-to 'lists'}} My Lists
  {{/link-to}}
</p> -->

<article class="cities">
  <div class="cities-left">
      <div class="city-names">Boston</div>
      <div class="city-names">NYC</div>
      <div class="city-names">DC</div>
  </div>
  <div class="cities-right">
      <div class="city-names">Miami</div>
      <div class="city-names">LA</div>
      <div class="city-names">Chicago</div>
  </div>
</article>
