<!-- <p>
  {{#link-to 'lists'}} My Lists
  {{/link-to}}
</p> -->

<article class="cities">
  <div class="cities-left">
      <div class="city-names">{{#link-to "boston"}}Boston{{/link-to}}</div>
      <div class="city-names">{{#link-to "new-york-city"}}NYC{{/link-to}}</div>
      <div class="city-names">{{#link-to "dc"}}DC{{/link-to}}</div>
  </div>
  <div class="cities-right">
      <div class="city-names">{{#link-to "miami"}}Miami{{/link-to}}</div>
      <div class="city-names">{{#link-to "los-angeles"}}LA{{/link-to}}</div>
      <div class="city-names">{{#link-to "chicago"}}Chicago{{/link-to}}</div>
  </div>
</article>
