<h2>Users</h2>

<ul>
{{#each model as |user|}}
  <li>{{user.email}}</li>
  {{#each user.uploads as |upload|}}
    test
    <p>
      <img src={{upload.image_url}}>
    </p>
  {{/each}}
{{/each}}
</ul>
