<!-- <ul>
  {{#each photos.photo as |photo|}}
    {{photo-lib/my-photo photo=photo
                         delete='deletePhoto'}}
  {{/each}}
</ul> -->

<!-- <form {{action "createItem" on="submit"}}>
  <label>Add an item</label>
  {{input placeholder='New item'
          class='input-group form-control'
          value=form.text}}
  <input type="submit" class="btn-xs btn-primary">
</form> -->
